{% extends 'base/base.html' %}

{% block content %}

<p>Здесь можно будет обновлять информацию о странице</p>
<div class="container">
    <div class="row">

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form action="/update/{{ book_id }}" method="post"><!--форма редактирования книги(ведется обращение к методу create в routs.py)-->
                        <div class="form-group">
                            <input class="form-control" type="text" name="title" placeholder="Title" value="{{ book_id.title }}" required>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="genre" cols="50"
                                      placeholder="Genre" value="{{ book_id.genre }}" required>{{ book_id.genre }}</textarea>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="description" cols="100"
                                      placeholder="Add a Description" value="{{ book_id.description }}" required>{{ book_id.description }}</textarea>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="author" cols="100"
                                      placeholder="Author" value="{{ book_id.author }}" required>{{ book_id.author }}</textarea>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="rating" cols="100"
                                      placeholder="Rating" value="{{ book_id.rating }}" required>{{ book_id.rating }}</textarea>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="notes" cols="100"
                                      placeholder="Notes" value="{{ book_id.notes }}" required>{{ book_id.notes }}</textarea>
                        </div>
                        <button class="btn btn-primary" type="submit">
                            Add
                        </button><!--конец формы редактирования книги-->
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}